.action-buttons {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

textarea.md-input {
  padding: 8px;
}

.outline {
  border: 1px solid #c0c0c0;
}

.result-preview {
  padding: 5px;
  height: 100%;
  overflow: auto;
  margin-top: 5px;
}

.editor{
  height: 100%;
  padding: 0 5px 0 0;
  margin-top: 5px;
}

.separated1{
  padding: 0 0 0 5px;
  height: 100%;
}

.separated2{
  padding: 0 5px 0 0;
  height: 100%;
}